.navbarnfkt{
    width: 100%;
}

.headerTitle{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: lightgray;
    height: 10vh;

}

.headerContent{
    font-size: 2rem;
    text-align: center;
}

a{
    text-decoration: none;

}

.navItem{
    color:white;
    font-size: 1rem;
    margin-top: 18px;
}

