button{
    background-color:yellowgreen;
    color:black;
    padding: 6px;
    margin-top: 10px;
}

/* .resource-list{
    padding: 20px
} */
.details-table{
    padding-left: 10%;
    padding-right: 10%;
}