.courseAddBox{
    display: flex;


}

.formCheckBox{
    display: inline-block;
    margin-right: 5px;
}

.details-table{
    padding-left: 10%;
    padding-right: 10%;
}

.right{
    float: right;
}
