.req-details{
    position: relative;
    left: auto;
    top: 20px;
}

span{
    padding-left: 10px;
    font-size: large;
    font-style: italic;
}

.details-table{
    padding-left: 10%;
    padding-right: 10%;
}